<section class="home">
    <div class="container p-1">
        <input class="form-control my-3" placeholder="search for note by title..." type="text">
        <div class="card">
            <div class="note-head d-flex justify-content-between">
                <h1 class="h6">Note</h1>
                <i class="fa-solid fa-ellipsis-vertical settings-dots"></i>
            </div>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quasi.</p>
        </div>
    </div>
</section>
